@{
    ViewData["Title"] = "Survey";
}

<div class="container text-center" style="margin-top: 50px;">
    <h1>@ViewData["Title"]</h1>

<a asp-controller="StudentSurvey" asp-action="StudentSurvey">Student Survey</a>
