@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is a Place holder for the PlannedToAT home page</h1>
    <p>The real website is here <a href="https://plannedtoat.org">PlannedToAt</a>.</p>
</div>
