@{
    ViewData["Title"] = "Sign Up";
}

<div class="container text-center" style="margin-top: 50px;">
    <h1>@ViewData["Title"]</h1>
    <p>Please select what kind of user you are.</p>

<a class="asp-controller="Home" asp-action="SignUpStudent">Student Sign Up</a>

<a class="asp-controller="Home" asp-action="Admin">Admin</a>
