@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

<p>Please select what kind of user you are.</p>

<a asp-controller="Home" asp-action="SignUpStudent" style="margin-right: 20px;">Student Sign Up</a>

<a class="asp-controller="Home" asp-action="Admin">Admin Sign Up</a>
