@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

<p>Please select what kind of user you are.</p>

<a asp-controller="Home" asp-action="SignUpStudent">Student Sign Up</a> <br />

<a asp-controller="Home" asp-action="SignUpAdmin">Admin Sign Up</a>
