<p>PLANNED TO A.T.
PARTICIPANT RELEASE, WAIVER OF LIABILITY AND MEDIA RELEASE
This Participant Release and Waiver of Liability (“Release”) is executed in favor of Planned to
A.T. Inc. ("Organization"),an IRS-recognized 501(c)(3) Georgia nonprofit corporation, by the individual
signing below whether the actual participant or the parent/guardian of participant hereafter referred to as
“Participant”. In consideration for the willingness of Organization to accept Participant in its financial
literacy program and for other good and valuable consideration, the receipt and sufficiency of which are
acknowledged, Participant does freely, voluntarily and without duress execute the following Release for
and on behalf of Participant and Participant’s heirs, successors, beneficiaries, and assigns:
Planned to A.T. is a nonprofit corporation whose mission is to prepare young people, primarily
from underserved communities, for a successful future through interactive educational programs designed
to teach the basics of financial literacy and life skills.
1. Waiver and Release. Participant releases, forever discharges, indemnifies, and holds harmless
Organization and its directors, officers, employees, volunteers, agents, successors and assigns
(collectively the “Released Parties”) from any and all liability, losses, costs, expenses, claims, demands
and causes of action of whatever kind or nature, either in law or in equity, arising out of or relating to
Participant’s activities with Organization (“Activities”), including, but not limited to (i) any claim for any
bodily injury, personal injury, illness, death or property damage or (ii) any first aid or medical treatment
rendered in connection with the Activities, that may arise out of, occur during or result from the
Activities, regardless of whether caused in whole or in part by an act or omission of a Released Party.
Participant also understands that, except as otherwise agreed to by a Released Party in writing, the
Released Parties do not provide any financial assistance of any kind, including, but not limited to,
medical, health or disability insurance coverage for any participant in Organization’s programs or who use
Organization’s facilities.
2. Activities. Activities may include but are not limited to participation in the financial literacy
educational programming, ongoing follow-up communication regarding the programming, and all
activities related to such educational programming including virtual and in-person financial literacy
workshops, celebrations, field trips, surveys, video reviews, partnership collaboration experiences, and
other activities consistent with Organization’s mission.
3. Assumption of the Risk. Participant understands that the Activities may involve physical activities
that may be hazardous to Participant and inherently dangerous risks and potential exposure to employees,
volunteers, other participants, or other individuals, including members of the public, who may be infected
with COVID-19. Participant hereby expressly and specifically assumes the risk of damage, injury, harm,
or death in connection with such Activities. Participant acknowledges and fully understands that
Participant may be engaging in activities that involve risk of serious injury, including permanent
disability, disfigurement or death, and severe social and economic losses might result not only from their
own actions, inactions, or negligence, but the action, inaction or negligence of others, or the condition of
the premises or equipment used.
4. Medical Treatment. Participant hereby authorizes the Released Parties to act on Participant’s behalf
in providing first aid and securing medical treatment for Participant in the event of injury or illness to
Participant. Participant understands and agrees that any expense will be Participant’s responsibility.
5. Media Release. Participant agrees to allow Organization to capture photography, audio, video and
other media recordings in connection with the activities and events of Organization and to use the
Participant’s image, voice, and/or likeness in any and all media used to promote Organization in any
manner, as part of Organization’s curriculum, and in any form of movie, documentary or docuseries about
the Organization, including but not limited to its programming, curriculum, and founders. Organization’s
use of the Participant’s image, voice, and/or likeness will not represent the Participant’s endorsement for
any product or service. Participant grants and conveys to Organization all right, title and interest in any
and all photographic images and video or audio recordings made by or for Organization during
Participant’s participation in the Activities, including, but not limited to, any royalties, proceeds, or other
benefits derived from such photographs or recordings.
6. Communications. Participant hereby grants to Organization permission to engage in private
communications with Participant for purposes consistent with the mission of the Organization during,
between, and after the duration of the Activities. Organization will keep all communications with the
Participant focused on the Participant’s participation and progress in the Activities. If the Participant is
under the age of 18, the Parent or Legal Guardian signing on their behalf hereby understands and
acknowledges that Organization or Released Parties may engage in private communications with the
Participant via e-mail and social media platforms, including but not limited to Facebook, Instagram, and
LinkedIn. Organization’s staff will not “follow,” “like,” or otherwise engage with social media content
from the minor Participant.
7. Miscellaneous. Participant expressly agrees that this Release is intended to be as broad and inclusive
as permitted by the laws of the state of Georgia and that this Release will be governed by and interpreted
in accordance with the laws of the state of Georgia without giving effect to its conflict of laws rules.
Participant agrees that in the event that any clause or provision of this Release is held to be invalid by any
court, the invalidity of that clause or provision will not affect the remaining provisions of this Release,
which will continue to be enforceable. Participant agrees that the sole and exclusive jurisdiction and
venue for litigation between Participant and Organization will be a state or federal court having
jurisdiction over Clayton County, Georgia.
BY SIGNING, PARTICIPANT ACKNOWLEDGES THAT PARTICIPANT HAS READ AND
UNDERSTOOD ALL OF THE TERMS OF THIS RELEASE AND THAT PARTICIPANT IS
VOLUNTARILY GIVING UP SUBSTANTIAL LEGAL RIGHTS, INCLUDING THE RIGHT TO SUE
ORGANIZATION</p>